body {
              margin: 0;
              padding: 0;
              font-family: sans-serif;
              background-image: url(bg.jpg);
              background-size: cover;
              background-position: center;
}

.sign-up-formu {
              width: 300px;
              box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0, 0.3);
              background-color: white;
              margin: 8% auto 0;
              text-align: center;
}

h1 {
              color: rgb(28, 138, 219);
              margin-bottom: 30px;
}

.yazi {
              border-radius: 20px;
              padding: 10px;
              margin: 10px 0;
              width: 85%;
              border: 1px solid rgb(170, 151, 151);
              outline: none;
}

button {
              color: rgb(28, 51, 184);
              width: 80%;
              padding: 10px;
              border-radius: 20px;
              font-size: 15px;
              margin: 10px 0;
              border: none;
              outline: none;
              cursor: pointer;
}

.btn {
              color: rgb(32, 125, 192);
}

hr {
              margin-top: 20px;
              width: 60%;
}

.or {
              background-color: white;
              width: 30px;
              margin: -19px auto 10px;
}

img {
              width: 70px;
              margin-top: -35px;
}

h6 {
              display: inline;
}